/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* end */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* end */
body {
  max-width: 1920px;
  font-family: "Roboto" sans-serif;
  color: rgb(41, 41, 41);
  font-size: 20px;
  font-weight: 500;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background-color: rgb(236, 236, 234);
}
.header__nav {
  padding: 30px 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}
.header__menu a {
  padding: 11px 32px;
  color: inherit;
}
.header__menu a:hover {
  color: #FF8340;
}

.main-info {
  position: relative;
}
.main-info__about-body {
  color: #CFCFCD;
  font-family: Arial;
  font-size: 160px;
  font-weight: 900;
  line-height: 160px;
  letter-spacing: 8px;
  position: absolute;
  top: 40px;
  right: 310px;
}
.main-info__another-info {
  display: flex;
}
.main-info__image-man {
  z-index: 5;
  margin-left: 45px;
  position: absolute;
  top: -215px;
}
.main-info-texts {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 282px;
  right: 275px;
}
.main-info__some-text {
  margin-bottom: 15px;
}
.main-info__continue-text {
  padding: 11px 32px;
}
.main-info a {
  color: inherit;
}