.header {
    height: 100vh;

    background-color: rgb(236,236,234);    

    &__nav{
        padding: 30px 0 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__menu {
        display: flex;
        justify-content: space-between;  
        
        a {
            padding: 11px 32px;
            color: inherit;
            
            &:hover{
                color: $color-orange;
            }
        }
    }
}

.main-info {
    position: relative;
    
    &__about-body {
        color: #CFCFCD;
        font-family: Arial;
        font-size: 160px;
        font-weight: 900;
        line-height: 160px;
        letter-spacing: 8px; 
        position: absolute;
        top: 40px;
        right: 310px;
    }
    
    &__another-info {
        display: flex;
    }

    &__image-man {
        z-index: 5;
        margin-left: 45px;
        position: absolute;
        top: -215px;
    }
    
    &-texts {
        max-width: 590px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 282px;
        right: 275px;
    }

    &__some-text {
        margin-bottom: 15px;
    }

    &__continue-text {
        padding: 11px 32px;
    }

    a {
        color: inherit;
    }
}


